* { 
	padding: 0; margin: 0; 
}

body{
	background: #2a3843;
}

body ::selection {
    background: transparent;
    color: inherit;
}
body ::-moz-selection {
    background: transparent;
    color: inherit;
}

canvas { 
	z-index: 1;
	background: #fff;
	display: block; 
	box-shadow: 0 0 10px #000;
	margin: 0 auto;
}